[Desktop Entry]
Name=Linux Box
GenericName=linux子系统
Comment=linux子系统
Categories=LinuxBox
Exec=/usr/bin/linuxbox
Icon=distributor-logo-crux
Keywords=distrobox;
NoDisplay=false
Terminal=false
Type=Application
