[Desktop Entry]
Name=Linux Box
GenericName=Linux Sub System
GenericName[zh_CN]=Linux子系统
Comment=Linux Sub System
Comment[zh_CN]=Linux子系统
Categories=LinuxBox
Exec=/usr/bin/linuxbox
Icon=preferences-system-linux
Keywords=distrobox;distro
Keywords[zh_CN]=子系统;Linux子系统
NoDisplay=false
Terminal=false
Type=Application
